<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @episode.nom %>
</p>

<p>
  <strong>Duree:</strong>
  <%= @episode.duree %>
</p>

<p>
  <strong>No:</strong>
  <%= @episode.no %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @episode.synopsis %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
