<%= form_with(model: auteur, local: true) do |form| %>
  <% if auteur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auteur.errors.count, "error") %> prohibited this auteur from being saved:</h2>

      <ul>
      <% auteur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom, id: :auteur_nom %>
  </div>

  <div class="field">
    <%= form.label :prenom %>
    <%= form.text_field :prenom, id: :auteur_prenom %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
